<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VendGastro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VendGastro.Properties.Settings.BB_06_AUT_23ConnectionString"
      connectionString="Data Source=DESKTOP-Q2O4CJ3\SQL2019;Initial Catalog=BB_06_AUT_23;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="db_host" value="31.179.188.118,2019" /> 
    <add key="db_name" value="BB_06_AUT_23" />
    <add key="db_user" value="sa" />
    <add key="db_pass" value="53rw15P0$" />
    <add key="rs_com_name" value="COM1" /> 
    <add key="rs_baud_rate" value="115200" />
    <add key="rs_data_bits" value="8" />
    <add key="rs_stop_bits" value="One" />
    <add key="rs_parity_bits" value="None" />  
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <VendGastro.Properties.Settings>
      <setting name="rs_com_name" serializeAs="String">
        <value>COM1</value>
      </setting>
    </VendGastro.Properties.Settings>
  </applicationSettings>
</configuration>