<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="db_host" value=".\SQL2019"/>
		<add key="db_name" value="BB_06_AUT_23"/>
		<add key="db_user" value="sa"/>
		<add key="db_pass" value="53rw15P0$"/>
		<add key="rs_num" value="1"/>
	</appSettings>
</configuration>